body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: black; /* Ajout d'une couleur de fond noire pour toutes les pages */
  color: yellow; /* Ajout de la couleur de texte jaune pour toutes les pages */
}

/* Stylisation générale des paragraphes */
p {
  font-family: 'Courier New', monospace;
  margin-bottom: 1rem; /* Ajout de marges en bas pour séparer les paragraphes */
}

code {
  font-family: 'Courier New', monospace;
}

/* Animation de machine à écrire */
.typewriter-text {
  font-family: 'Courier New', monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid white;
  animation: typing 4s steps(40) both; /* Augmentez la durée à 10s (ou ajustez selon vos besoins) */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media query pour la réactivité */
@media only screen and (max-width: 600px) {
  /* Ajoutez des styles spécifiques pour les écrans de petite taille ici */
  body {
    font-size: 14px; /* Ajustez la taille de la police pour les petits écrans */
  }

  .typewriter-text {
    font-size: 16px; /* Ajustez la taille de la police pour les petits écrans */
  }
}
